.Topbar{
  background-color: gold;
  width: 100%;
  display: flex;
  object-fit: fill;
}
.Logo{
  height: 80px;
  margin-right: 10px;
}
.Building{
  width: 5000px;
  height: 80px;
  object-fit: fill;
}
.navBar{
  background-color: gold;
}