.Topbar{
  background-color: gold;
  width: 100%;
  display: flex;
  object-fit: fill;
}
.Logo{
  height: 80px;
  margin-right: 10px;
}
.Building{
  width: 5000px;
  height: 80px;
  object-fit: fill;
}
.navBar{
  background-color: gold;
}
.customGrid {
  margin-top: 20px;
}

.customBox {
  background-color: maroon;
  width: 88%;
  margin-left: 5%;
  height: 700px;
}
.campus{
  height: 102%;
  width: 102%;
  object-fit: fill;
}